.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.strarsWrapped{
  display: flex;
  margin: 10px;
}


.star-rating-filled {
  color:rgb(255, 221, 0);
  font-size: 55pt;
  font-weight: 500;
}

.star-rating-blank {
  color:rgb(144, 144, 144);
  font-size: 55pt;
  font-weight: 500;
}



.flex-container {
  display: flex;
}